@page
<div class="row">
    <div class="col-12">
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>

    <div class="questions">
        <ul id="questionList">
            <div class="question">
                <h3 id="questionTitle"></h3>
                <div class="question_body">
                    <ul id="answersList"></ul>
                </div>
            </div>
        </ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/student.js"></script>